body  { background-color: #f3f3f3; }

.grid-item-content {
  width: 260px;
  height: 210px;
  margin: 20px;
}

.overlay {
  text-transform: capitalize;
}

.country  {
  position:absolute;
  bottom: 5px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.sidebar  {
  background-color: hsl(210, 4%, 11%);
  margin-top: 20px;
}

.login,
.user,
.view-itinerary  {
  padding: 15px 15px;
  color: white;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 1px solid rgba(0,0,0,.8);
}

.login,
.user {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,.8);
}


.sidebar h3 {
  padding: 5px 15px;
  color: white;
  font-size: 20px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
}
.button {
  padding: 2px 15px;
  color: rgba(255,255,255,.5);
}

.button:hover {
  color: rgba(255,255,255,.9);
  cursor: pointer;
}

.login span:hover,
.view-itinerary:hover  { cursor: pointer; }

.well.itinerary {
  margin-top: 20px;
}

.well.itinerary h2  { margin-bottom: 20px; }

.outer {
  display: inline-block;;
  margin-bottom: 10px;
}

.country-name {
  padding-left: 5px;
  text-transform: capitalize;
}

.country-table  { height: 50px; }

.country-button { margin-top: 8px; }

.start-date,
.end-date  { width:75px; }

.country-name {}

.remove-button  {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
