.grid-item-content {
  width: 260px;
  height: 210px;
  margin: 20px;
}

.overlay { cursor: pointer; }

.country  {
  position:absolute;
  bottom: 5px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.sidebar  {
  background-color: hsl(210, 4%, 11%);
  margin-top: 20px;
}

.login,
.user  {
  margin-left: 20px;
  padding: 10px;
  color: white;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.login span:hover  { cursor: pointer; }
